# Core framework
streamlit==1.40.0

# Data handling
pandas==2.2.3
numpy==1.26.4
openpyxl==3.1.5    # for reading XLSX files
joblib==1.4.2

# Machine learning & explainability
scikit-learn==1.5.2
shap==0.46.0

# Visualization
matplotlib==3.9.2

# File export / PDF generation
fpdf==1.7.2

# Optional cloud and utilities
boto3==1.35.23      # optional: for S3 model download support
